.GoogleLogin {
  $google-color: #dd4b39;

  background-color: $google-color !important;
  transition: 0.2s;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($google-color, 10%) !important;
  }
}
