.Spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loader {
    color: #fff;
    font-size: 3rem;
    animation: rotate-center 1.2s cubic-bezier(0.6, -0.28, 0.735, 0.045)
      infinite both;
  }

  @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
