.ShoppingListDetails {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  .title {
    position: relative;
    display: inline-block;
  }

  .icon {
    position: absolute;
    top: -10px;
    right: -22px;
    font-size: 1rem;
    cursor: pointer;
  }
}

.ListShoppingList {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  .name {
    max-width: 55%;
  }

  .Status {
    font-size: 1rem;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
